<app-nav></app-nav>





<body>


  <div class="jumbotron">
    <div class="container text-center">
      <h1>Regulamin wypożyczalni</h1>      
      <p>Zapoznaj się z umową wypożyczenia samochodu</p>
    </div>
  </div>
  
  
  
  <div>
    <h3>Postanowienia ogólne</h3>
    <hr>
    <h5>Wiek i dokumenty</h5>
    <p>Wiek od 19 do 75 lat. <br>
      Dowód osobisty lub paszport. <br>
      Prawo jazdy (od co najmniej roku), w przypadku Najemcy nie będącego obywatelem UE międzynarodowe prawo jazdy.</p>
   <br>
    <hr>
    <h5>Szczegóły umowy</h5>
    <p> Rezerwacji można dokonywać telefonicznie, drogą elektroniczną (e-mail), faxem lub osobiście w siedzibie firmy. Informacje niezbędne przy rezerwacji to: dane teleadresowe Najemcy, model pojazdu, przewidywany termin i długość najmu, miejsce i godzina odbioru pojazdu oraz ewentualne zgłoszenie zamiaru wyjazdu za granicę z podaniem kraju docelowego oraz krajów tranzytowych. Każda rezerwacja złożona drogą elektroniczną jest ważna po potwierdzeniu jej przez pracownika wypożyczalni</p>
    
    <h5> Kaucja zwrotna, opłaty</h5>
    <p>Na czas najmu samochodu  pobierana jest kaucja, której wysokość zależy od marki i modelu pojazdu. Kaucja podlega całkowitemu zwrotowi w momencie  oddania nieuszkodzonego samochodu. Kaucja może być wpłacona gotówką, przelewem na konto lub zablokowana na koncie karty kredytowej.<br>Opłata za wynajem oraz kaucję pobierana jest z góry.</p>
    
    <h5>Ubezpieczenie, paliwo</h5>
    <p>Pojazdy posiadają ubezpieczenie w zakresie OC, AC, a także ASSISTANCE na całą Europe w cenie wynajmu!<br> Opłata za wynajem samochodu  nie obejmuje kosztów paliwa.</p>
    <hr>
  
  </div>
  
  </body>
  
  
  <section>
      <router-outlet></router-outlet>
    </section>