ul {
  align-self: center;
  list-style-type: none;
}
ul li {
  text-align: center;
  align-self: center;
  display: grid;
}

ul li img {
  
  border-radius: 0%;
  width: 100%;
}
.srodek{
  align-self: center;
}

button {
  background-color: #1100ff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  font-family: Arial;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #0c00b3;
}