<app-nav></app-nav>


<body>

  <div class="jumbotron">
    <div class="container text-center">
      <h1>My Portfolio</h1>
      <p>Some text that represents "Me"...</p>
    </div>
  </div>







  <div class="srodek">
    <ul class="heroes" *ngIf="cars">
      <li *ngFor="let car of cars">

        <img [src]="car.Obraz">
        {{car.Marka}} {{ car.Model }} <br>
        Okres wynajmu: {{day1}}/{{month1}}/{{rok1}} do {{day2}}/{{month2}}/{{rok2}} <br>
        Całkowity koszt wynajmu: {{ car.Cena }}zł<br>

       <br>
       

      </li>
      <button class="btn btn-lg btn-primary btn-block" type="button" (click)="submit()">Wynajmij</button>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="button"  a routerLink="/oferta">Powrót</button>
      <li>
        <p></p>
      </li>
    </ul>
  </div>












</body>


<section>
  <router-outlet></router-outlet>
</section>