ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
  }
  ul li {
    background: #f0f0f0;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
  
  }
  ul li p {
    font-weight: bold;
    margin-left: 20px;
  }
  ul li img {
    border-radius: 0%;
    width: 30%;
  }
  
  
  button {
    background-color: #b9b9b9;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #949494;
  }
  
  
  .button-delete {
    display: inline-block;
    float: right;
   
    color: gray;
  }
