
  
<app-nav-a></app-nav-a>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <form>
        <h1 class="h3 mb-3 font-weight-normal">Zapisane transakcje</h1>
   
        
   </form>
</div>
</div>




  <ul class="transs" *ngIf="transs">
    <li class='list-item' *ngFor="let trans of transs">
        <span>    
          
           
              {{trans.TransakcjaID}} {{trans.LoginID}} {{trans.RejestracjaID}} {{trans.DataOD}} {{trans.DataDO}} {{trans.Cena}}
   
        </span>
        <span class='button-delete' (click)="usun(user.Login)">
            <button>Usuń</button>
        </span>
    </li>
    </ul>











</body>


<section>
    <router-outlet></router-outlet>
  </section>
