ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}
ul li {
  background: #f0f0f0;
  padding: 2em;
  border-radius: 4px;
  margin-bottom: 7px;

}
ul li p {
  font-weight: bold;
  margin-left: 20px;
}
ul li img {
  border-radius: 0%;
  width: 30%;
}
