
  
<app-nav-g></app-nav-g>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Wypożyczalnia</h1>      
    <p>Zapoznaj się z naszą ofertą</p>
  </div>
</div>



<ul class="cars" *ngIf="cars">
    <li *ngFor="let car of cars">
        <a routerLink="/detailg/{{car.Rejestracja}}">
          <img class="img" [src]="car.Obraz">  {{car.Marka}} {{ car.Model }} 
            {{ car.Kolor }} {{ car.Paliwo }} {{ car.Moc }}km  Cena: {{ car.Cena }} zł za dobe
            
      
      </a>
    </li>
  </ul>








</body>


<section>
    <router-outlet></router-outlet>
  </section>
