
  
<app-nav-a></app-nav-a>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <form>
        <h1 class="h3 mb-3 font-weight-normal">Dodawanie nowego użytkownika</h1>
   
         <label  class="sr-only">Login</label>
         <input type="text" id="login" (input)="login=$event.target.value"  class="form-control" placeholder="Login" required autofocus>
         <label  class="sr-only">Hasło</label>
         <input type="text" id="haslo" (input)="haslo=$event.target.value" class="form-control" placeholder="Hasło" required autofocus>
         <label class="sr-only">Email</label>
         <input type="email" id="email" (input)="email=$event.target.value" class="form-control" placeholder="Email" required autofocus>
         <label class="sr-only">Imie</label>
         <input type="text" id="imie" (input)="imie=$event.target.value" class="form-control" placeholder="Imie" required autofocus>
         <label class="sr-only">Nazwisko</label>
         <input type="text" id="nazwisko" (input)="nazwisko=$event.target.value" class="form-control" placeholder="Nazwisko" required autofocus>
         <label  class="sr-only">Telefon</label>
         <input type="number" id="telefon" (input)="telefon=$event.target.value" class="form-control" placeholder="Telefon" required autofocus>
    

        <div class="radio-toolbar">
          <input type="radio" id="radioApple" name="radioFruit" value="0" checked (click)="setradio('0')" ngModel>
          <label for="radioApple">User</label>
      
          <input type="radio" id="radioBanana" name="radioFruit" value="1" (click)="setradio('1')" ngModel >
          <label for="radioBanana">Admin</label>
      
      </div>

         <button class="btn btn-lg btn-primary btn-block" type="button"  (click)="submit()" >Dodaj użytkownika</button>
       </form>
</div>
</div>




  <ul class="users" *ngIf="users">
    <li class='list-item' *ngFor="let user of users">
        <span>    
          
            <a routerLink="/detail-au/{{user.Login}}">
              {{user.Login}} {{user.Email}} {{user.Imie}} {{ user.Nazwisko }}
        </a>
        </span>
        <span class='button-delete' (click)="usun(user.Login)">
            <button>Usuń</button>
        </span>
    </li>
    </ul>












</body>


<section>
    <router-outlet></router-outlet>
  </section>
