ul {
    list-style-type: none;
    margin: 10;
    padding: 0;
  }
  ul li {
    background: #f0f0f0;
    padding: 2em;
    border-radius: 4px;
    margin-bottom: 7px;
  
  }
  ul li p {
    font-weight: bold;
    margin-left: 20px;
  }
  ul li img {
    border-radius: 0%;
    width: 30%;
  }
  
  
  button {
    background-color: #b9b9b9;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    font-family: Arial;
  }
  
  button:hover {
    background-color: #949494;
  }
  
  
  .button-delete {
    display: inline-block;
    float: right;
   
    color: gray;
  }


  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
      display:none; 
  }
  
  .radio-toolbar label {
      display:inline-block;
      background-color:#ddd;
      padding: 10px 20px;
      font-family:Arial;
      font-size:16px;
      border: 2px solid #444;
      border-radius: 4px;    
  }
  
  .radio-toolbar label:hover {
    background-color: rgb(183, 196, 233);
  }
  
  .radio-toolbar input[type="radio"]:checked + label { 
      background-color:rgb(187, 222, 255);
      border-color: rgb(68, 104, 204);
  }