
  
<app-nav-g></app-nav-g>



<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>



  <ul class="heroes" *ngIf="cars">
      <li *ngFor="let car of cars">
          <img [src]="car.Obraz">   {{car.Marka}} {{ car.Model }} {{ car.Kolor }} {{ car.Paliwo }} {{ car.Moc }}km {{ car.Cena }}zł/dobe   
      </li>
      <li>
         <p></p> 
      </li>
    </ul>
    <button class="btn btn-lg btn-primary btn-block" type="button"  a routerLink="/">Powrót</button>
</body>
<section>
    <router-outlet></router-outlet>
  </section>
