ul {
    align-self: center;
    list-style-type: none;
  }
  ul li {
    text-align: center;
    align-self: center;
    display: grid;
  }
  .btn {
    align-self: center;
    width: 45%;
  }
  ul li img {
    align-self: center;
    border-radius: 0%;
    width: 100%;
  }