
  
<app-nav-a></app-nav-a>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>






  

  <ul class="heroes" *ngIf="cars">
      <li *ngFor="let car of cars">
        
          <img [src]="car.Obraz" class="center">
       


          <div class="container text-center">
            <form>
                <h1 class="h3 mb-3 font-weight-normal">Edytuj samochód</h1>
           
                 <label  class="sr-only">Rejestracja</label>
                 <input type="text" id="rejestracja" (input)="rejestracja=$event.target.value"  class="form-control" placeholder="Rejestracja" value={{car.Rejestracja}} #autorejestracja required autofocus readonly >
                 <label  class="sr-only">Marka</label>
                 <input type="text" id="marka" (input)="marka=$event.target.value" class="form-control" placeholder="Marka" value={{car.Marka}} #automarka required autofocus >
                 <label class="sr-only">Model</label>
                 <input type="text" id="model" (input)="model=$event.target.value" class="form-control" placeholder="Model" value={{car.Model}} #automodel required autofocus >
                 <label class="sr-only">Kolor</label>
                 <input type="text" id="kolor" (input)="kolor=$event.target.value" class="form-control" placeholder="Kolor" value={{car.Kolor}} #autokolor required autofocus >
                 <label class="sr-only">Obraz</label>
                 <input type="text" id="obraz" (input)="obraz=$event.target.value" class="form-control" placeholder="Obraz" value={{this.obraz2}} #autoobraz required autofocus >
                 <label  class="sr-only">Paliwo</label>
                 <input type="text" id="paliwo" (input)="paliwo=$event.target.value" class="form-control" placeholder="Paliwo" value={{car.Paliwo}} #autopaliwo required autofocus >
                 <label class="sr-only">Moc</label>
                 <input type="number" id="moc" (input)="moc=$event.target.value" class="form-control" placeholder="Moc" value={{car.Moc}} #automoc required autofocus >
                 <label class="sr-only">Cena</label>
                 <input type="number" id="cena" (input)="cena=$event.target.value" class="form-control" placeholder="Cena" value={{car.Cena}} #autocena required autofocus >
       
       
                 
                 <button class="btn btn-lg btn-primary btn-block" type="button"  (click)="update(autorejestracja.value, automarka.value, automodel.value, autokolor.value, autoobraz.value, autopaliwo.value, automoc.value, autocena.value)" >Zapisz zmiany</button>
                 <button class="btn btn-lg btn-primary btn-block" type="button"  a routerLink="/admincar">Powrót</button>
                </form>
        </div>





      </li>
    </ul>














</body>


<section>
    <router-outlet></router-outlet>
  </section>
