
  
<app-nav></app-nav>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Lista dokonanych wypożyczeń</h1>      
    <p>Użytkownik: </p>
  </div>
</div>



<ul class="cars" *ngIf="cars">
  <li *ngFor="let car of cars">
  Samochód o rejestracji: {{ car.RejestracjaID }} <br>
  Data wypożyczenia: {{ car.DataOD|date}} <br>
  Data zwrotu: {{ car.DataDO|date }} <br>
  Całkowity koszt: {{ car.Cena }} zł
      
  
  </li>
</ul>







</body>


<section>
    <router-outlet></router-outlet>
  </section>
