
  
<app-nav></app-nav>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>



<ul class="cars" *ngIf="cars">
    <li *ngFor="let car of cars">
        <a routerLink="/detail/{{car.Rejestracja}}">
        <img class="img" [src]="car.Obraz">  <p>{{car.Marka}} {{ car.Model }} <br>
        {{ car.Kolor }} {{ car.Paliwo }} {{ car.Moc }}km  Cena: {{ car.Cena }} zł za dobe
        
      </p>
      </a>
    </li>
  </ul>


<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>





</body>


<section>
    <router-outlet></router-outlet>
  </section>
