
  <body class="forma">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Zaloguj się</h1>
      <label for="text" class="sr-only">Login</label>
      <input id="text" class="form-control" placeholder="Login" required autofocus #titleInput>
      <label for="inputPassword" class="sr-only">Hasło</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Hasło" required #titleInput2>
  <button type="submit"class="btn btn-lg btn-primary btn-block" (click) = 'addTodo(titleInput.value,titleInput2.value)'>Zaloguj się</button>
  <h1 class="h5 mb-3 font-weight-normal">Nie masz jeszcze konta? <a routerLink="/register">Zarejestruj się</a></h1>  
</body>


  <section>
      <router-outlet></router-outlet>
    </section>