<app-nav-g></app-nav-g>






<body>


<div></div>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav">
      <h3>Dane kontaktowe</h3>
      <hr>
      <p>Wypozyczalnia.pl
        <br><br>
        Podchorążych 2
        <br><br> 
        31-000 Kraków
        <br><br> 
        334 423 543</p>
    

    </div>

    <div class="col-sm-9">
      <h3>Jak do nas trafić</h3>
      <hr>

      <p></p>
      <br>
      <div class="mapouter"><div class="gmap_canvas"><iframe width=100% height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=up%20krakow&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div><style>.mapouter{text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div><br>
      
      


    </div>
  </div>
</div>



</body>

<section>
    <router-outlet></router-outlet>
  </section>
