
  
<app-nav></app-nav>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Wybierz okres wynajmu</h1>      

    <p>Wybierz okres wynajmu</p>

<ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t" outsideDays="hidden">
</ngb-datepicker>

<ng-template #t let-date let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<hr>

<button class="btn btn-lg btn-primary btn-block" type="button"  (click)="submit()" >Sprawdź dostępne samochody</button>




  </div>
</div>


<ul class="cars" *ngIf="cars">
  <li class='list-item' *ngFor="let car of cars">
      <span>    
        
          <a routerLink="/detail-a/{{car.Rejestracja}}">
          <img [src]="car.Obraz">
        {{car.Marka}} {{ car.Model }}
      </a>
      </span>
      <span class='button-delete' (click)="usun(car.Rejestracja)">
          <button>Usuń</button>
      </span>
  </li>
  </ul>







</body>


<section>
    <router-outlet></router-outlet>
  </section>
