ul {
    list-style-type: none;
  }
  ul li {
    display: grid;
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  .radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
      display:none; 
  }
  
  .radio-toolbar label {
      display:inline-block;
      background-color:#ddd;
      padding: 10px 20px;
      font-family:Arial;
      font-size:16px;
      border: 2px solid #444;
      border-radius: 4px;    
  }
  
  .radio-toolbar label:hover {
    background-color: rgb(183, 196, 233);
  }
  
  .radio-toolbar input[type="radio"]:checked + label { 
      background-color:rgb(187, 222, 255);
      border-color: rgb(68, 104, 204);
  }