<app-nav-a></app-nav-a>


<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>My Portfolio</h1>      
    <p>Some text that represents "Me"...</p>
  </div>
</div>






  

  <ul class="heroes" *ngIf="users">
      <li *ngFor="let user of users">
        

          <div class="container text-center">
            <form>
                <h1 class="h3 mb-3 font-weight-normal">Edytuj użytkownika</h1>
           
                 <label  class="sr-only">Login</label>
                 <input type="text" id="userlogin" (input)="login=$event.target.value"  class="form-control" placeholder="Login" value={{user.Login}} #userlogin required autofocus readonly >
                 <label  class="sr-only">Hasło</label>
                 <input type="text" id="userhaslo" (input)="haslo=$event.target.value" class="form-control" placeholder="Hasło" value={{user.Haslo}} #userhaslo required autofocus >
                 <label class="sr-only">Email</label>
                 <input type="text" id="useremail" (input)="email=$event.target.value" class="form-control" placeholder="Email" value={{user.Email}} #useremail required autofocus >
                 <label class="sr-only">Imie</label>
                 <input type="text" id="userimie" (input)="imie=$event.target.value" class="form-control" placeholder="Imie" value={{user.Imie}} #userimie required autofocus >
                 <label class="sr-only">Nazwisko</label>
                 <input type="text" id="usernazwisko" (input)="nazwisko=$event.target.value" class="form-control" placeholder="Nazwisko" value={{user.Nazwisko}} #usernazwisko required autofocus >
                 <label  class="sr-only">Telefon</label>
                 <input type="number" id="usertelefon" (input)="telefon=$event.target.value" class="form-control" placeholder="Telefon" value={{user.Telefon}} #usertelefon required autofocus >
                 <label class="sr-only">Typ</label>
                 <input type="number" id="usertypo" (input)="typ=$event.target.value" class="form-control" placeholder="Typ" value={{user.Typ}}  #usertyp required autofocus style="display: none">
       


                 <div class="radio-toolbar">
                  <input type="radio" id="radioApple" name="radioFruit" value="0" [checked]="user.Typ == 0" (click)="settyp('0')" ngModel>
                  <label for="radioApple">User</label>
              
                  <input type="radio" id="radioBanana" name="radioFruit" value="1" [checked]="user.Typ == 1 "(click)="settyp('1')" ngModel >
                  <label for="radioBanana">Admin</label>
              
              </div>



                 <button class="btn btn-lg btn-primary btn-block" type="button"  (click)="update(userlogin.value, userhaslo.value, useremail.value, userimie.value, usernazwisko.value, usertelefon.value, usertyp.value)" >Zapisz zmiany</button>
                 <button class="btn btn-lg btn-primary btn-block" type="button"  a routerLink="/adminuser">Powrót</button>
                </form>
        </div>





      </li>
    </ul>













</body>


<section>
    <router-outlet></router-outlet>
  </section>
