

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    
    
      <h1 class="h3 mb-3 font-weight-normal">Witaj w panelu administracyjnym {{userlogin}} </h1>
    
      <h1 class="h5 mb-3 font-weight-normal"><a routerLink="/adminuser">Przeglądaj użytkowników</a></h1>
      <h1 class="h5 mb-3 font-weight-normal"><a routerLink="/admincar">Przeglądaj samochody</a></h1>
      <h1 class="h5 mb-3 font-weight-normal"><a routerLink="/admintrans">Przeglądaj transakcje</a></h1>
    
  
    </form>
  </body>

  <section>
      <router-outlet></router-outlet>
    </section>