


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">
    Wypożyczalnia
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link"  routerLink="/">Oferta</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutg">Regulamin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactg">Kontakt</a>
      </li>




      </ul>



      <ul class="nav navbar-nav navbar-right">
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Zaloguj się</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Załóż konto</a>
        </li>
      </ul>


    </div>
  </nav>

  
  
  <section>
      <router-outlet></router-outlet>
    </section>