
  
<app-nav-a></app-nav-a>


<body>

<div class="jumbotron">
  <div class="container text-center">
      <form>
          <h1 class="h3 mb-3 font-weight-normal">Dodawanie nowego samochodu</h1>
     
           <label  class="sr-only">Rejestracja</label>
           <input type="text" id="rejestracja" (input)="rejestracja=$event.target.value"  class="form-control" placeholder="Rejestracja" required autofocus>
           <label  class="sr-only">Marka</label>
           <input type="text" id="marka" (input)="marka=$event.target.value" class="form-control" placeholder="Marka" required autofocus>
           <label class="sr-only">Model</label>
           <input type="text" id="model" (input)="model=$event.target.value" class="form-control" placeholder="Model" required autofocus>
           <label class="sr-only">Kolor</label>
           <input type="text" id="kolor" (input)="kolor=$event.target.value" class="form-control" placeholder="Kolor" required autofocus>
           <label class="sr-only">Obraz</label>
           <input type="text" id="obraz" (input)="obraz=$event.target.value" class="form-control" placeholder="Obraz" required autofocus>
           <label  class="sr-only">Paliwo</label>
           <input type="text" id="paliwo" (input)="paliwo=$event.target.value" class="form-control" placeholder="Paliwo" required autofocus>
           <label class="sr-only">Moc</label>
           <input type="number" id="moc" (input)="moc=$event.target.value" class="form-control" placeholder="Moc" required autofocus>
           <label class="sr-only">Cena</label>
           <input type="number" id="cena" (input)="cena=$event.target.value" class="form-control" placeholder="Cena" required autofocus>
 
 
           <button class="btn btn-lg btn-primary btn-block" type="button"  (click)="submit()" >Dodaj samochód</button>
         </form>
  </div>
</div>
  

  <ul class="cars" *ngIf="cars">
    <li class='list-item' *ngFor="let car of cars">
        <span>    
          
            <a routerLink="/detail-a/{{car.Rejestracja}}">
            <img [src]="car.Obraz">
          {{car.Marka}} {{ car.Model }}
        </a>
        </span>
        <span class='button-delete' (click)="usun(car.Rejestracja)">
            <button>Usuń</button>
        </span>
    </li>
    </ul>













</body>


<section>
    <router-outlet></router-outlet>
  </section>
