<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/admincar">
    Wypożyczalnia
  </a>

  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link" routerLink="/adminuser">Użytkownicy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admincar">Samochody</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/admintrans">Transakcje</a>
      </li>
  
      </ul>

      <ul class="nav navbar-nav navbar-right" >
       
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Zalogowano jako {{userlogin}}</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/" (click)="wyloguj()">Wyloguj się</a>
        </li>
      </ul>


    </div>
  </nav>

  
  
  <section>
      <router-outlet></router-outlet>
    </section>