  <body class="text-center">
    <form class="logowanie">
      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Załóż nowe konto</h1>

      <label  class="sr-only">Login</label>
      <input type="text" id="login" (input)="login=$event.target.value"  class="form-control" placeholder="Login" required autofocus>
      <label  class="sr-only">Email</label>
      <input type="email" id="email" (input)="email=$event.target.value" class="form-control" placeholder="Email" required autofocus>
      <label class="sr-only">Hasło</label>
      <input type="password" id="haslo" (input)="haslo=$event.target.value" class="form-control" placeholder="Hasło" required autofocus>
      <label class="sr-only">Imię</label>
      <input type="text" id="imie" (input)="imie=$event.target.value" class="form-control" placeholder="Imię" required autofocus>
      <label class="sr-only">Nazwisko</label>
      <input type="text" id="nazwisko" (input)="nazwisko=$event.target.value" class="form-control" placeholder="Nazwisko" required autofocus>
      <label  class="sr-only">Telefon</label>
      <input type="number" id="telefon" (input)="telefon=$event.target.value" class="form-control" placeholder="Telefon" required autofocus>

  
      <button class="btn btn-lg btn-primary btn-block" type="button"  (click)="submit()" >Załóż konto</button>
       <h1 class="h5 mb-3 font-weight-normal">Masz już konto? <a routerLink="/login">Zaloguj się</a></h1>
    </form>
  </body>


  <section>
      <router-outlet></router-outlet>
    </section>