html {
    height: 100%;
  }
  body {
    min-height: 100%;
  }

body {
  display: -ms-flexbox ;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.logowanie {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.logowanie .checkbox {
  font-weight: 400;
}
.logowanie .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.logowanie .form-control:focus {
  z-index: 2;
}
.logowanie input {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
